# HomeSeer
hsurl=http://192.168.75.129/JSON
hsuser=HOMESEERUSERNAME
hspassword=HOMESEERPASSWORD

# MQTT
mqtturl=tcp://192.168.75.71:1883
mqtttopic=devices
mqttpublisherid=hsMQTT

# Number of threads to poll HomeSeer on
pollingthreads=5

# minutes
pollinginterval=1